* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 > p {
    margin: 0 8px;
}

.tituloGame {
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaGame {
    width: 100%;
    height: 100%;

    padding: 0 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.areaGame > div {
    width: 117px;
    height: 146px;

    margin: 34px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
}

.areaGame img {
    width: 100px;
    height: 100px;
}